<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title},~{::link})">
    <title>用户管理</title>

    <link href="/fly/plugins/jqgrid-5.3.0/ui.jqgrid-bootstrap4.css" rel="stylesheet"/>
    <link href="/fly/plugins/custombox/custombox.min.css" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini" onLoad="checkCookie();">
<div th:replace="base :: base('用户管理',~{::content})">
    <content>
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="grid-btn">
                                <button class="btn btn-info" onclick="userAdd()"><i
                                        class="fa fa-plus"></i>&nbsp;新增
                                </button>
                                <button class="btn btn-warning" onclick="userEdit()"><i
                                        class="fa fa-edit"></i>&nbsp;编辑
                                </button>
                                <button class="btn btn-file" id="importV1Button"><i
                                        class="fa fa-upload"></i>&nbsp;导入V1
                                </button>
                                <button class="btn btn-file" onclick="importV2()"><i
                                        class="fa fa-upload"></i>&nbsp;导入V2
                                </button>
                                <button class="btn btn-danger" onclick="userDel()"><i
                                        class="fa fa-remove"></i>&nbsp;删除
                                </button>
                                <button class="btn btn-file" onclick="window.location.href='fly/users/export'"><i
                                        class="fa fa-download"></i>&nbsp;导出
                                </button>
                            </div>
                            <table id="jqGrid" class="table table-bordered">
                            </table>
                            <div id="jqGridPager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="content" id="modalAdd" style="display: none">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width: 400px;height: 420px;">
                    <div class="modal-header">
                        <h6 class="modal-title" id="userModalLabel">用户添加</h6>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <div class="alert alert-danger add-error-info">错误信息展示栏。</div>
                            </div>
                            <div class="form-group">
                                <label for="userName" class="control-label">用户名:</label>
                                <input type="text" class="form-control" id="userName">
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">密码:</label>
                                <input type="text" class="form-control" id="password">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="cancelAdd">取消</button>
                        <button type="button" class="btn btn-primary" id="saveButton">确认</button>
                    </div>
                </div>
            </div>
            <!-- /.content -->
        </div>

        <div class="content" id="modalEdit" style="display: none">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width: 400px;height: 320px;">
                    <div class="modal-header">
                        <h6 class="modal-title" id="modalEditLabel">用户编辑</h6>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="hidden" id="userId" value="0">
                            <div class="form-group">
                                <div class="alert alert-danger edit-error-info">错误信息展示栏。</div>
                            </div>
                            <div class="form-group">
                                <label for="passwordEdit" class="control-label">新密码:</label>
                                <input type="text" class="form-control" id="passwordEdit">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="cancelEdit">取消</button>
                        <button type="button" class="btn btn-primary" id="editButton">确认</button>
                    </div>
                </div>
            </div>
            <!-- /.content -->
        </div>

        <div class="content">
            <div class="modal" id="importV2Modal" tabindex="-1" role="dialog" aria-labelledby="importV2ModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="importV2ModalLabel">用户导入</h6>
                        </div>
                        <div class="modal-body">
                            <div>
                                <div class="form-group">
                                    <input type="hidden" id="fileUrl" value="">
                                    <div class="col-sm-10">
                                        <a class="btn btn-info" id="uploadExcelV2"><i
                                                class="fa fa-file"></i>&nbsp;上传Excel文件</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" id="cancelImportV2">取消</button>
                            <button type="button" class="btn btn-primary" id="importV2Button">确认</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal -->
        </div>
    </content>
</div>

<script src="/fly/plugins/jqgrid-5.3.0/grid.locale-cn.js"></script>
<script src="/fly/plugins/jqgrid-5.3.0/jquery.jqGrid.min.js"></script>
<script src="/fly/plugins/ajaxupload/ajaxupload.js"></script>
<script src="/fly/dist/js/user.js"></script>
</body>
</html>